@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'android';
    src: url(/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #d5d5d5;
    --cor1: #a9a9a9;
    --cor2: #848484;
    --cor3: #6a6a6a;
    --cor4: #2f2f2f;
    --cor5: #3a3a3a;
    --fonte1: Arial, Verdana, Helvetica, sans-serif;
    --fonte2: 'Bebas Neue', cursive;
    --fonte3: 'android', cursive
}
body{
    background-color: var(--cor0);
}
*{
    margin: 0px;
}
header{
    background-image: linear-gradient(to top, var(--cor4), var(--cor3) );
    background-color: var(--cor3);
    padding: 5px;
    padding-left: 10px;
    height: 40px;
}
header img{
    height: 100%;
}
nav{
    background-color: var(--cor4);
    text-align: center;
    padding: 5px;
}
nav a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
nav a:hover{
    background-color: var(--cor1);
    padding: 2px;
    border-radius: 2px;
    transition-duration: 0.3;
}
main{
    max-width: 1000px;
    min-width: 300px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    min-height: 400px;
}
section{
    background-color: var(--cor5);
    margin: 10px 0px 3px ;
    padding: 5px;
    color: white;
    text-align: center;
}
hr{
    height: 5px;
    background-color: var(--cor5);
}
article{
    max-width: 1000px;
    min-width: 300px;
    background-color: white;
    margin: auto;
    padding: 13px;
}
aside{
    max-width: 1000px;
    min-width: 300px;
    background-color: white;
    margin: auto;
    padding: 13px;
}
video{ /*provisorio*/
    width: 100%;
}
p{
    margin: 5px;
}
h1{
    margin: 5px;
}
h2{
    margin: 5px;
    text-align: center;
    background-color: var(--cor1);
    margin: 10px 0px;
}
h3{
    margin: 5px;
}
footer{
    background-color: var(--cor4);
    padding: auto;
    height: 20px;
    text-align: center;
    color: white;
}
footer a{
    text-decoration: nome;
    color: white;
}
.premio{
    text-align: center;
    padding-top: 10em;
}
footer a:hover::after{
    content: " GitHub";
    color: #a9a9a9;
}